
Add a new link to the bookmark manager:
<form action="/new" method="gets">
  <input type="submit" value="Save a new link">
</form>

Your links!
<div>
    <% @links.each do |link| %>
        <ul id='links'>
          <li><%=link.title%></li>
          <li><%=link.url %></li>
          <li> <% link.tags.each do |tag| %>
             <%= tag.tag_name %>
          <% end %>
        </li>
        </ul>
    <%end%>
</div>

<form action="/tag" method="get">
  Filter links by tag:
  <br>
  <input type="text" name="filter">
  <input type="submit" value="Search">
</form>
